# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/__pycache__/
backend/.venv/
backend/venv/

# Environment variables
.env
*.env

# Python
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db